body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "segeo Script", "Comic Sans MS", cursive;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1 {
  color: #ff4d6d;
  font-family: 'Poppins', sans-serif;
}

.message {
  color: #444;
  margin: 20px 0;
  font-family: "Georgia", "Times New Roman", serif;
}

button {
  background: #ff4d6d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #e63956;
}

button:hover {
  background: #e63956;
}

.card {
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.p1, .p2, .p3, .p4, .p5, .g1, .g2 {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}


body {
  position: relative; 
}


.p1 {
  position: absolute;
  top: 50px;
  left: 70px;
  width: 270px;
  border-radius: 10px;
}


.p3 {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 350px;
  border-radius: 10px;
  transform: rotate(-6deg);
}


.g1 {
  position: absolute;
  top: 50px;
  right: 40px;
  width: 300px;
}

.g2 {
  position: absolute;
  top: 350px;
  bottom: 200px;
  right: 40px;
  width: 250px;
}

img {
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

@media (max-width: 600px) {

  .card {
    width: auto;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  .message {
    font-size: 14px;
  }

  .p1, .g1, .g2 {
    width: 150px;
  }

  .p1 { top: 80px; left: 30px; }
  .p3 { bottom: 70px; left: 10px; width: 200px; }

  .g1 { top: 80px; right: 30px; }
  .g2 { position: absolute; bottom: 10px; right: 10px; width: 150px; height: auto; display: none;}
}

audio {
  display: none;
}